**Null hypothesis**: Concentrations of PM particles *and* NO is controlled by the weather and therefore by chance.<br>
**alternative hypothesis:** Concentrations of PM particles *and* NO due to a controlled/sustained act to reduce release of air pollutants.

#### Air quality guideline. 
Air quality guideline is an annual mean concentration guideline for particulate matter from the World Health Organization. The guideline stipulates that **PM2.5 not exceed 25 μg/m³ annual mean, or 25 μg/m³ 24-hour mean**; and that **for PM10 its 50 µg/m3 that cannot be exceeded more than 35 times a year, 24-hour mean** For NO particles this limit is **30 μg/m³ annual mean**

In [4]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('21107225236.csv')
df_1 = pd.read_csv('2120629429.csv')
climate = pd.read_csv('climate.csv')#already cleaned.

Proceed to clean first two and then join on date_time.

In [19]:
df.columns = [name.lower().replace(' ','_') for name in df.columns]

In [20]:
rename = {'pm10_particulate_matter_(hourly_measured)':'PM10',
          'pm2.5_particulate_matter_(hourly_measured)':'PM2.5',
          'modelled_wind_direction':'wind_direction',
          'modelled_wind_speed':'wind_spd','modelled_temperature':'temp'}
df.rename(rename,axis=1,inplace=True)
df_1.columns = df.columns

In [21]:
df.drop(['status','status.1','status.2','status.3','status.4','status.5'],axis=1,inplace=True)
df_1.drop(['status','status.1','status.2','status.3','status.4','status.5'],axis=1,inplace=True)

In [22]:
df.sort_values('date',inplace=True)
df_1.sort_values('date',inplace=True)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38006 entries, 0 to 38005
Data columns (total 8 columns):
date              38006 non-null object
time              38005 non-null object
nitric_oxide      38005 non-null object
PM10              38005 non-null object
PM2.5             38005 non-null object
wind_direction    38005 non-null object
wind_spd          38005 non-null object
temp              38005 non-null object
dtypes: object(8)
memory usage: 2.6+ MB

In [24]:
df.head()

          date      time nitric_oxide  PM10 PM2.5 wind_direction wind_spd temp
0   2015-12-31  01:00:00      0.33345  11.3   0.9          223.4      4.4  9.1
23  2015-12-31  24:00:00      0.68009  17.6  11.1          233.5      1.6  4.1
22  2015-12-31  23:00:00      0.82291  15.3   7.3            257      3.1  5.4
21  2015-12-31  22:00:00      1.03744  17.2   7.4          257.7      3.9  6.3
20  2015-12-31  21:00:00      1.03744  16.9   7.8          254.7      4.3    7

In [25]:
df = df[df.date != 'End']#dropping the row containing 'End' date.
df_1 = df_1[df_1.date != 'End']#dropping the row containing 'End' date.

In [26]:
df['time'].unique()

array(['01:00:00', '24:00:00', '23:00:00', '22:00:00', '21:00:00',
       '20:00:00', '19:00:00', '17:00:00', '16:00:00', '15:00:00',
       '14:00:00', '13:00:00', '18:00:00', '11:00:00', '12:00:00',
       '03:00:00', '04:00:00', '05:00:00', '06:00:00', '02:00:00',
       '08:00:00', '09:00:00', '10:00:00', '07:00:00'], dtype=object)

In [27]:
#removing null values, no nulls.
df.isnull().sum()

date              0
time              0
nitric_oxide      0
PM10              0
PM2.5             0
wind_direction    0
wind_spd          0
temp              0
dtype: int64

In [28]:
df.info()#fix date and time.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38005 entries, 0 to 37997
Data columns (total 8 columns):
date              38005 non-null object
time              38005 non-null object
nitric_oxide      38005 non-null object
PM10              38005 non-null object
PM2.5             38005 non-null object
wind_direction    38005 non-null object
wind_spd          38005 non-null object
temp              38005 non-null object
dtypes: object(8)
memory usage: 2.6+ MB

In [29]:
(df == 'No data').PM10.value_counts()
(df == 'No data').nitric_oxide.value_counts()

False    37680
True       325
Name: nitric_oxide, dtype: int64

That's it, 'No data' is in place for cells where no value was present. Removing rows totally where there is No data would also remove some important information as well. 

### Replace 'No data' with previous hours' observation

In [30]:
df.nitric_oxide = df.nitric_oxide.map(lambda x: x if x!='No data' else np.nan)
df.PM10 = df.PM10.map(lambda x: x if x!='No data' else np.nan)
df['PM2.5'] = df['PM2.5'].map(lambda x: x if x!='No data' else np.nan)
df.temp = df.nitric_oxide.map(lambda x: x if x!='No data' else np.nan)
df.wind_spd = df.wind_spd.map(lambda x: x if x!='No data' else np.nan)
df.wind_direction = df.wind_direction.map(lambda x: x if x!='No data' else np.nan)

#--------------------------------------------#

df_1.nitric_oxide = df_1.nitric_oxide.map(lambda x: x if x!='No data' else np.nan)
df_1.PM10 = df_1.PM10.map(lambda x: x if x!='No data' else np.nan)
df_1['PM2.5'] = df_1['PM2.5'].map(lambda x: x if x!='No data' else np.nan)
df_1.temp = df_1.nitric_oxide.map(lambda x: x if x!='No data' else np.nan)
df_1.wind_spd = df_1.wind_spd.map(lambda x: x if x!='No data' else np.nan)
df_1.wind_direction = df_1.wind_direction.map(lambda x: x if x!='No data' else np.nan)

In [59]:
df.fillna(method='ffill',inplace=True)
df_1.fillna(method='ffill',inplace=True)

In [34]:
#df.isnull().sum()
df1.isnull().sum()

date                 0
time                 0
nitric_oxide       325
PM10              2287
PM2.5             1479
wind_direction     877
wind_spd           877
temp               325
dtype: int64

In [60]:
#(df == 'No data').sum()
(df_1 == 'No data').sum()
#####--------- all checks out. --------#####

date              0
time              0
nitric_oxide      0
PM10              0
PM2.5             0
wind_direction    0
wind_spd          0
temp              0
date_time         0
dtype: int64

In [41]:
#adding date with hour to create date-time column
df['date_time'] = pd.DatetimeIndex(df['date']) + pd.to_timedelta(df['time'],unit='h')
df_1['date_time'] = pd.DatetimeIndex(df_1['date']) + pd.to_timedelta(df_1['time'],unit='h')

In [43]:
df.sort_values(by='date_time',inplace=True)
df_1.sort_values(by='date_time',inplace=True)

In [36]:
#(df == 'End').sum()
(df_1 == 'End').sum()

date              0
time              0
nitric_oxide      0
PM10              0
PM2.5             0
wind_direction    0
wind_spd          0
temp              0
dtype: int64

In [63]:
df.isnull().sum()
#df_1.isnull().sum()

date              0
time              0
nitric_oxide      0
PM10              0
PM2.5             0
wind_direction    0
wind_spd          0
temp              0
date_time         0
dtype: int64

In [65]:
#converting object features into floats
cols = ['nitric_oxide','PM10','PM2.5','wind_direction','wind_spd','temp']
for col in cols:
    df[col] = df[col].apply(lambda x: float(x))
    df_1[col] = df_1[col].apply(lambda x: float(x))

In [66]:
df.info()
#df_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38005 entries, 0 to 38004
Data columns (total 9 columns):
date              38005 non-null object
time              38005 non-null object
nitric_oxide      38005 non-null float64
PM10              38005 non-null float64
PM2.5             38005 non-null float64
wind_direction    38005 non-null float64
wind_spd          38005 non-null float64
temp              38005 non-null float64
date_time         38005 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(6), object(2)
memory usage: 2.9+ MB

In [1358]:
df.head(10)

,date,time,nitric_oxide,PM10,PM2.5,wind_direction,wind_spd,temp
0,2015-12-31,01:00:00,0.33345,11.3,0.9,223.4,4.4,0.33345
23,2015-12-31,24:00:00,0.68009,17.6,11.1,233.5,1.6,0.68009
22,2015-12-31,23:00:00,0.82291,15.3,7.3,257.0,3.1,0.82291
21,2015-12-31,22:00:00,1.03744,17.2,7.4,257.7,3.9,1.03744
20,2015-12-31,21:00:00,1.03744,16.9,7.8,254.7,4.3,1.03744
19,2015-12-31,20:00:00,0.78705,13.4,5.8,254.8,4.6,0.78705
18,2015-12-31,19:00:00,0.85845,10.2,1.5,236.3,6.2,0.85845
16,2015-12-31,17:00:00,0.85877,21.2,2.5,205.6,6.0,0.85877
15,2015-12-31,16:00:00,1.21612,20.2,7.4,200.3,5.1,1.21612
14,2015-12-31,15:00:00,1.78832,21.2,8.6,205.5,4.9,1.78832

#### Data Engineering

In [67]:
def day_of_week(date):
    days_of_week = {0: 'monday', 1: 'tuesday', 2: 'wednesday',
                    3: 'thursday', 4: 'friday', 5: 'saturday', 6: 'sunday'}
    return days_of_week[date.weekday()]

def convert_to_season(month):
    if month in [12,1,2]:
        return 'winter'
    elif month in [3,4,5]:
        return 'spring'
    elif month in [6,7,8]:
        return 'summer'
    elif month in [9,10,11]:
        return 'autumn'
    else:return 'not recognised'

In [68]:
#Here I extract the sum of all the pollutants NO,PM2.5 & PM10.
df['average_PM'] = (df['PM10'] + df['PM2.5'])*.5
df_1['average_PM'] = (df_1['PM10'] + df_1['PM2.5'])*.5

In [69]:
#Here I extract year,month and day from the date column
df['year'] = df.date_time.map(lambda x: x.year)
df['month'] = df.date_time.map(lambda x: x.month)
df['day'] = df.date_time.map(lambda x: x.day)
#------------------------------------------#
df_1['year'] = df_1.date_time.map(lambda x: x.year)
df_1['month'] = df_1.date_time.map(lambda x: x.month)
df_1['day'] = df_1.date_time.map(lambda x: x.day)

In [70]:
#Here I extract the season from the month and day of the week from the day.
df['season'] = df.month.map(convert_to_season) 
df['day_of_week'] = df.date_time.map(day_of_week)
#-------------------------------------------------------------#
df_1['season'] = df_1.month.map(convert_to_season)
df_1['day_of_week'] = df_1.date_time.map(day_of_week)

In [71]:
df_1.day.unique()

array([31,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30])

In [72]:
df = df[df.year > 2010]
df_1 = df_1[df_1.year > 2010]

In [570]:
#2012 was leap year.
df[df.year == 2016].shape,df_1[df_1.year == 2012].shape,df_1[df_1.year == 2014].shape,df_1[df_1.year == 2013].shape,df_1[df_1.year == 2015].shape

((8784, 15), (8784, 15), (8760, 15), (8760, 15), (8737, 15))

In [587]:
print('combined df PM10  average 29 dec 2015: ',data[(data.index < '30/12/2015') & (data.index > '29/12/2015')]['PM10'].mean())
print('upper df PM10 average 30 dec 2015',df_1[df_1.date == '2015-12-29']['PM10'].mean()) #REMOVED 1 row thats the disparity.

combined df PM10  average 29 dec 2015:  18.065217391304348
upper df PM10 average 30 dec 2015 18.099999999999998

In [557]:
(data.year == 2015).value_counts()

False    73045
True      8760
Name: year, dtype: int64

In [73]:
df_1.head(24)

,date,time,nitric_oxide,PM10,PM2.5,wind_direction,wind_spd,temp,date_time,average_PM,year,month,day,season,day_of_week
23,2010-12-31,24:00:00,9.0,42.0,38.0,331.4,1.7,9.0,2011-01-01 00:00:00,40.0,2011,1,1,winter,saturday
24,2011-01-01,01:00:00,4.0,40.0,39.0,266.7,1.1,4.0,2011-01-01 01:00:00,39.5,2011,1,1,winter,saturday
25,2011-01-01,02:00:00,6.0,36.0,30.0,271.9,1.2,6.0,2011-01-01 02:00:00,33.0,2011,1,1,winter,saturday
26,2011-01-01,03:00:00,1.0,31.0,31.0,276.3,1.5,1.0,2011-01-01 03:00:00,31.0,2011,1,1,winter,saturday
27,2011-01-01,04:00:00,1.0,31.0,29.0,278.7,2.1,1.0,2011-01-01 04:00:00,30.0,2011,1,1,winter,saturday
28,2011-01-01,05:00:00,1.0,29.0,25.0,289.6,2.7,1.0,2011-01-01 05:00:00,27.0,2011,1,1,winter,saturday
29,2011-01-01,06:00:00,1.0,25.0,23.0,303.6,2.8,1.0,2011-01-01 06:00:00,24.0,2011,1,1,winter,saturday
30,2011-01-01,07:00:00,1.0,25.0,24.0,316.7,2.8,1.0,2011-01-01 07:00:00,24.5,2011,1,1,winter,saturday
31,2011-01-01,08:00:00,1.0,28.0,22.0,320.8,2.7,1.0,2011-01-01 08:00:00,25.0,2011,1,1,winter,saturday
32,2011-01-01,09:00:00,8.0,24.0,23.0,315.0,2.6,8.0,2011-01-01 09:00:00,23.5,2011,1,1,winter,saturday
33,2011-01-01,10:00:00,9.0,24.0,20.0,316.7,2.6,9.0,2011-01-01 10:00:00,22.0,2011,1,1,winter,saturday
34,2011-01-01,11:00:00,16.0,23.0,22.0,319.2,2.6,16.0,2011-01-01 11:00:00,22.5,2011,1,1,winter,saturday
35,2011-01-01,12:00:00,5.0,19.0,17.0,320.3,2.7,5.0,2011-01-01 12:00:00,18.0,2011,1,1,winter,saturday
36,2011-01-01,13:00:00,6.0,20.0,19.0,332.6,2.6,6.0,2011-01-01 13:00:00,19.5,2011,1,1,winter,saturday
37,2011-01-01,14:00:00,4.0,18.0,16.0,348.1,2.7,4.0,2011-01-01 14:00:00,17.0,2011,1,1,winter,saturday
38,2011-01-01,15:00:00,9.0,16.0,13.0,181.7,2.8,9.0,2011-01-01 15:00:00,14.5,2011,1,1,winter,saturday
39,2011-01-01,16:00:00,8.0,12.0,11.0,15.9,2.9,8.0,2011-01-01 16:00:00,11.5,2011,1,1,winter,saturday
40,2011-01-01,17:00:00,4.0,12.0,9.0,26.9,3.0,4.0,2011-01-01 17:00:00,10.5,2011,1,1,winter,saturday
41,2011-01-01,18:00:00,5.0,13.0,8.0,30.6,3.0,5.0,2011-01-01 18:00:00,10.5,2011,1,1,winter,saturday
42,2011-01-01,19:00:00,4.0,18.0,10.0,33.7,3.1,4.0,2011-01-01 19:00:00,14.0,2011,1,1,winter,saturday
43,2011-01-01,20:00:00,4.0,17.0,10.0,32.6,3.1,4.0,2011-01-01 20:00:00,13.5,2011,1,1,winter,saturday
44,2011-01-01,21:00:00,3.0,17.0,9.0,26.4,3.2,3.0,2011-01-01 21:00:00,13.0,2011,1,1,winter,saturday
45,2011-01-01,22:00:00,3.0,15.0,11.0,20.2,3.2,3.0,2011-01-01 22:00:00,13.0,2011,1,1,winter,saturday
46,2011-01-01,23:00:00,3.0,17.0,10.0,13.2,3.1,3.0,2011-01-01 23:00:00,13.5,2011,1,1,winter,saturday

In [74]:
df.to_csv('data1.csv',index=False)
df_1.to_csv('data2.csv',index=False)

#### Data Merging

In [5]:
#import the datasets.
#data1: 2015 - 2020, data2: 2011 - 2015 
data1 = pd.read_csv('data1.csv')
data2 = pd.read_csv('data2.csv')
climate = pd.read_csv('climate.csv')

In [6]:
data2.shape,data1.shape

((43801, 15), (38005, 15))

In [7]:
data12 = pd.concat([data2,data1])
data12.drop(['wind_direction','wind_spd','temp'],axis=1,inplace=True)

In [8]:
climate.shape,data12.shape

((81816, 28), (81806, 12))

In [9]:
climate.head()

,latitude,longitude,date_utc,doy_utc,hour_utc,time_valid_lcl,offset_min,temp,wetBulb,dewPt,...,windSpd10m,windDir10m,windSpd80m,windDir80m,windSpd100m,windDir100m,precip,snowfall,cldCvr,radSolar
0,51.521,-0.2135,2011-01-01 00:00:00,1,0 days 00:00:00.000000000,1/1/2011 0:00,0,4.111111,3.833333,3.500000,...,5.3,286.0,7.4,289.1,7.7,289.8,0.0,0.0,99,0.0
1,51.521,-0.2135,2011-01-01 01:00:00,1,0 days 01:00:00.000000000,1/1/2011 1:00,0,4.611111,4.277778,3.833333,...,6.0,292.9,9.1,296.0,9.5,296.6,0.0,0.0,99,0.0
2,51.521,-0.2135,2011-01-01 02:00:00,1,0 days 02:00:00.000000000,1/1/2011 2:00,0,4.500000,4.055556,3.611111,...,7.0,285.4,10.4,289.0,10.9,290.0,0.0,0.0,98,0.0
3,51.521,-0.2135,2011-01-01 03:00:00,1,0 days 03:00:00.000000000,1/1/2011 3:00,0,4.333333,3.888889,3.333333,...,8.2,283.8,12.0,287.2,12.5,287.8,0.0,0.0,97,0.0
4,51.521,-0.2135,2011-01-01 04:00:00,1,0 days 04:00:00.000000000,1/1/2011 4:00,0,4.277778,3.777778,3.166667,...,9.0,286.4,13.1,290.1,13.7,290.7,0.0,0.0,97,0.0

In [10]:
climate = climate.iloc[1:81807,:]

In [11]:
climate.shape,data12.shape

((81806, 28), (81806, 12))

In [12]:
climate.rename({'date_utc':'date_time'},axis=1,inplace=True)

In [13]:
#-----------------#
climate.date_time = pd.DatetimeIndex(climate.date_time)
data12.date_time = pd.DatetimeIndex(data12.date_time)

In [14]:
data12.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81806 entries, 0 to 38004
Data columns (total 12 columns):
date            81806 non-null object
time            81806 non-null object
nitric_oxide    81806 non-null float64
PM10            81806 non-null float64
PM2.5           81806 non-null float64
date_time       81806 non-null datetime64[ns]
average_PM      81806 non-null float64
year            81806 non-null int64
month           81806 non-null int64
day             81806 non-null int64
season          81806 non-null object
day_of_week     81806 non-null object
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 8.1+ MB

In [15]:
#pd.concat([climate,data12],axis=1,).index
data = pd.concat([climate.set_index('date_time'),data12.set_index('date_time')], axis=1, join='inner').reset_index()

In [16]:
def conv_dir(deg):
    bound = 45/2
    if deg <=360 and deg>360-bound:
        return 'north'
    elif deg<=360-bound and deg>360-(2*bound):
        return 'north-west'
    elif deg <=270 and deg>270-bound:
        return 'west'
    elif deg <=270-bound and deg>270-(2*bound):
        return 'south-west'
    elif deg  <=180 and deg>180-bound:
        return 'south'
    elif deg<=180-bound and deg>180-(2*bound):
        return 'south-east'
    elif deg <=90 and deg>90-bound:
            return 'east'
    elif deg <=90-bound and deg>90-(2*bound):
            return 'north-east'
    else:
        return 'none'

data['wind_dir'] = data.windDir10m.map(conv_dir)

In [17]:
data.columns

Index(['date_time', 'latitude', 'longitude', 'doy_utc', 'hour_utc',
       'time_valid_lcl', 'offset_min', 'temp', 'wetBulb', 'dewPt', 'feelsLike',
       'windchill', 'heatind', 'relHum', 'specHum', 'Pres', 'Pres_tndncy',
       'mslPres', 'windSpd10m', 'windDir10m', 'windSpd80m', 'windDir80m',
       'windSpd100m', 'windDir100m', 'precip', 'snowfall', 'cldCvr',
       'radSolar', 'date', 'time', 'nitric_oxide', 'PM10', 'PM2.5',
       'average_PM', 'year', 'month', 'day', 'season', 'day_of_week',
       'wind_dir'],
      dtype='object')

In [19]:
data.to_csv('data.csv',index=False)#final dataframe.